/* =====================================================================
 * BACKGROUND-COLOR
 * ===================================================================*/

/*============================ MAIN COLORS ===========================*/

.bg-main {
    background-color: #0f6889;
}

.bg-alt {
    background-color: #e0b723;
}

body,
.bg-light {
    background-color: #fff;
}

hr,
.bg-lightgrey {
    background-color: #eee;
}

.bg-grey {
    background-color: #afafaf;
}

.bg-dark {
    background-color: #222;
}

.bg-darker {
    background-color: #1a1a1a;
}

.bg-none {
    background-color: transparent;
}

/* =====================================================================
 * HEADER
 * ===================================================================*/

.main-header {
    z-index: 10;
    top: 0;
}

@media only screen and (min-width: 993px) {

    .main-header .row {
        padding: 0.3% 1%;
    }

}

.logo:before {
    margin-right: 0.1em;
    content: "{";
}

.logo:after {
    margin-left: 0.1em;
    content: "}";
}

/* =====================================================================
 * ABOUT
 * ===================================================================*/

.about {
    background: url('../../img/header.png') fixed center center no-repeat;
    background-size: cover;
}

.about .table {
    height: 65vh;
}

.about a {
    margin-right: 0.5em;
}

section {
    padding: 5em 0;
}

/* =====================================================================
 * LAYOUT MEDIA QUERIES
 * ===================================================================*/

/*======================== LARGE/LG RESOLUTIONS ======================*/

@media only screen and (min-width: 993px) {}

/*======================= MEDIUM/MD RESOLUTIONS ======================*/

@media only screen and (max-width: 992px) {}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {}

/*==================== EXTRA SMALL/XS RESOLUTIONS ====================*/

@media only screen and (max-width: 480px) {}
