/* =====================================================================
 * BACKGROUND-COLOR
 * ===================================================================*/

/*============================ MAIN COLORS ===========================*/

.bg-main {
    background-color: #0d6788;
}

.bg-white {
    background-color: #fff;
}

.bg-lightgrey,
hr {
    background-color: #e3e3e3;
}

.bg-grey {
    background-color: #afafaf;
}

.bg-dark,
.main-nav li ul {
    background-color: #222;
}

.bg-darker {
    background-color: #0f1113;
}

.bg-none {
    background-color: transparent;
}

.icon,
.about {
  background-size: cover;
}

/* =====================================================================
 * HEADER
 * ===================================================================*/

.main-header {
  z-index: 10;
  top: 0;
}

.headroom--unpinned {
  top: -5em;
}

.main-header .row {
  padding: 0.3em 0.7em;
}

.logo:before {
  margin-right: 0.1em;
  content: "{";
}

.logo:after {
  margin-left: 0.1em;
  content: "}";
}

section:not(.about) {
  padding: 5em 0;
}

/* =====================================================================
 * ABOUT
 * ===================================================================*/

.about {
  position: relative;
  background-image: url('../../img/bg-about.png');
  background-attachment: fixed;
}

.about:before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(10,13,17,1);
  background: -moz-linear-gradient(top, rgba(10,13,17,1) 0%, rgba(19,26,33,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,13,17,1)), color-stop(100%, rgba(19,26,33,1)));
  background: -webkit-linear-gradient(top, rgba(10,13,17,1) 0%, rgba(19,26,33,1) 100%);
  background: -o-linear-gradient(top, rgba(10,13,17,1) 0%, rgba(19,26,33,1) 100%);
  background: -ms-linear-gradient(top, rgba(10,13,17,1) 0%, rgba(19,26,33,1) 100%);
  background: linear-gradient(to bottom, rgba(10,13,17,1) 0%, rgba(19,26,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0d11', endColorstr='#131a21', GradientType=0 );
}

.about .row {
  align-items: center;
}

.about .row,
.about:before {
  height: 45em;
}

.about h1 {
  line-height: 1.2em;
}

@media only screen and (max-width: 480px) {

  .about .row,
  .about:before {
    height: 40em;
  }

  .about h1 {
    font-size: 2em;
  }

}

.about article {
  line-height: 1.8em;
}

/* =====================================================================
 * WORK
 * ===================================================================*/

@media only screen and (min-width: 769px) {

  .project-wrapper {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .project-wrapper img {
    width: 85%;
    margin: 0 -3em;
  }

 .project-wrapper:nth-child(even) {
   flex-direction: row-reverse;
 }

 .project-wrapper:nth-child(even) .project-thumbnail {
   text-align: right;
 }

}

@media only screen and (max-width: 768px) {

  .project-wrapper {
    padding: 2em;
  }

  .project-wrapper img {
    margin-bottom: 1em;
  }

}

/* =====================================================================
 * LAYOUT MEDIA QUERIES
 * ===================================================================*/

/*======================== LARGE/LG RESOLUTIONS ======================*/

@media only screen and (min-width: 993px) {}

/*======================= MEDIUM/MD RESOLUTIONS ======================*/

@media only screen and (max-width: 992px) {}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {}

/*==================== EXTRA SMALL/XS RESOLUTIONS ====================*/

@media only screen and (max-width: 480px) {}
