/* =====================================================================
 * BACKGROUND-COLOR
 * ===================================================================*/

/*============================ MAIN COLORS ===========================*/

.bg-main {
  background-color: #0d6788;
}

.bg-white {
  background-color: #fff;
}

.bg-lightgrey,
hr {
  background-color: #e3e3e3;
}

.bg-grey {
  background-color: #afafaf;
}

.bg-dark,
.main-nav li ul {
  background-color: #222;
}

.bg-darker {
  background-color: #0f1113;
}

.bg-none {
  background-color: transparent;
}

/* =====================================================================
 * HEADER
 * ===================================================================*/

.main-header {
  z-index: 10;
  top: 0;
}

.main-header .row {
  padding: 0 0.7em;
}

.main-header .col-6:last-child {
  text-align: right;
}

.hidden-header {
  transform: translateY(-100%);
}

.logo:before {
  content: "{";
  margin-right: 0.1em;
}

.logo:after {
  content: "}";
  margin-left: 0.1em;
}

/* =====================================================================
 * ABOUT
 * ===================================================================*/

.about {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../../img/bg-about.png');
}

.about:before {
  top: 0;
  left: 0;
  z-index: -1;
  background: #0a0d11;
  background: linear-gradient(to top, #131a21 0%, #0a0d11 100%);
}

.about .wrapper-large {
  display: flex;
  flex-direction: row;
}

.about .row {
  padding: 5em 1.5em;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {

  .about .row {
    padding: 5em 1em;
  }

}

@media only screen and (max-width: 768px) {

  .about .title-1 {
    font-size: 2em;
    line-height: 1.3em;
  }

}

.about article {
  line-height: 1.8em;
}

/* =====================================================================
 * WORK
 * ===================================================================*/

.work {
  padding: 3em 0;
}

.project-wrapper {
  margin: 2em 0;
}

@media only screen and (min-width: 769px) {

 .project-wrapper:nth-child(odd) {
   flex-direction: row-reverse;
 }

}

@media only screen and (max-width: 768px) {

  .project-wrapper img {
    margin-bottom: 1em;
  }

  .project-wrapper img,
  .project-wrapper article {
    padding: 0 5%;
  }

}

/* =====================================================================
 * LAYOUT MEDIA QUERIES
 * ===================================================================*/

/*======================== LARGE/LG RESOLUTIONS ======================*/

@media only screen and (min-width: 993px) {}

/*======================= MEDIUM/MD RESOLUTIONS ======================*/

@media only screen and (max-width: 992px) {}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {}

/*==================== EXTRA SMALL/XS RESOLUTIONS ====================*/

@media only screen and (max-width: 480px) {}
