/* =====================================================================
 * TYPOGRAPHY
 * ===================================================================*/

 /*========================= FONT-FACE/IMPORTS =======================*/

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open-sans/open-sans.eot');
  src: url('../../fonts/open-sans/open-sans.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open-sans/open-sans.woff2') format('woff2'),
  url('../../fonts/open-sans/open-sans.woff') format('woff'),
  url('../../fonts/open-sans/open-sans.svg#open-sans') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Montserrat Medium';
  src: url('../../fonts/montserrat/montserrat-medium.eot');
	src: url('../../fonts/montserrat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/montserrat/montserrat-medium.woff2') format('woff2'),
  url('../../fonts/montserrat/montserrat-medium.woff') format('woff'),
  url('../../fonts/montserrat/montserrat-medium.svg#montserrat-medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

/*======================== FONT-FAMILY/HEIGHT ========================*/

body,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  font-weight: inherit;
  line-height: 100%;
}

.btn,
.logo,
.main-nav,
.font-alt {
  font-family: 'Montserrat Medium';
}

/*============================ FONT-SIZE =============================*/

body,
input,
select,
textarea {
  font-size: 1em;
}

small,
.btn-small,
.text-small,
.input-small {
  font-size: 0.8em;
}

h6,
.title-6,
blockquote,
.logo:before,
.logo:after {
  font-size: 1.1em;
}

h5,
.title-5,
.btn-large,
.text-large,
.input-large {
  font-size: 1.3em;
}

h4,
.logo,
.title-4 {
  font-size: 1.6em;
}

h3,
.title-3 {
  font-size: 1.9em;
}

h2,
.title-2 {
  font-size: 2.2em;
}

h1,
.title-1 {
  font-size: 2.5em;
}

/*============================ FONT-COLOR ============================*/

.text-main {
  color: #0f6889;
}

.text-alt,
.logo:after,
.logo:before {
  color: #c69b34;
}

.btn,
body {
  color: #222;
}

.project-description p,
.text-grey {
  color: #3c3b3b;
}

.about,
.main-header,
.text-light,
.btn:hover {
  color: #fff;
}

a {
  color: inherit;
}

/*=============================== MISC ===============================*/

article,
blockquote,
.text-block {
  line-height: 160%;
}

.btn,
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

a,
.btn:hover,
.main-nav a:hover,
.no-underline:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn,
.logo,
.text-uppercase {
  text-transform: uppercase;
}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {

    body {
      font-size: 0.9em;
    }

}
